* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
}
html,body {
  background-color: #EFEFEF;
  font-family: 'Microsoft YaHei';
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
}